header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c5e99;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

/* Era o H1 do logo superior esquerdo, mas foi trocado para a imagem LogoMarcoBruno.png

h1 {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  text-shadow: 5px 5px 0px #000;
  font-size: 32px;
} */

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: #f25a70;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

span {
  background-color: #f25a70;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;
  background-color: #f25a70;
  box-shadow: 5px 5px 0px #000;
  padding: 18px 20px;
  margin-right: 0;
  cursor: pointer;
  transition: transform 200ms linear;
}

#button:hover {
  background-color: #9b3d4b;
  transform: scale(1.06);
}
