.card-cursos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c5e99;
  width: 310px;
  height: 310px;
  box-shadow: 10px 10px 0px #fff;
}

.card-cursos .logo {
  height: 280px;
  width: 280px;
}

.card-cursos.-red {
  background-color: red;
}

.card-cursos.-blue {
  background-color: #2222ff;
}
