.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c5e99;
  width: 310px;
  height: 310px;
  box-shadow: 10px 10px 0px #fff;
}

.card-project .logo {
  height: 280px;
  width: 280px;
}

.card-project.-red {
  background-color: red;
}

.card-project.-blue {
  background-color: #2222ff;
}
