.icon-menu {
	background-image: url(../../assets/img/icon-menu.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-size: auto 100%;
	width: 60px;
	height: 60px;
	image-rendering: pixelated;
}
