.main-action {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  transition: transform 150ms;
}

.main-action::before {
  content: "";
  background-color: #f25a70;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.main-action:hover{
  transform: scale(1.08);
}