.progress-bar {
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid #000;
  height: 40px;
}

.progress-bar::-moz-progress-bar,
.progress-bar::-webkit-progress-bar {
  background-color: #7c5e99;
}
