.skill-tec {
	display: flex;
	font-family: "Press Start 2P", sans-serif;
	font-size: 25px;
	color: #fff;
	align-items: center;
}

.skill-tec .icon {
	margin-right: 25px;
}

.skill-tec .right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.skill-tec .title {
	margin-bottom: 16px;
}

.skill-tec .icon {
	width: 90px;
	max-height: 90px;
}
